{% extends 'base2.html.twig' %}
{% block title %}Hello AdminController!{% endblock %}
{% block body %}
<h1> Listing of Jobs</h1>
<table border=2 class="table table-hover table-bordered" style="width:50%" >
<thead><tr class="info" >
<th class="text-primary">id</th> 
<th class="text-primary">JobTitle</th>
<th class="text-primary">Skills</th>
<th class="text-primary">Experience</th>
<th class="text-primary">Location</th>
<th class = "text-primary">Action</th>
 <tr>
    {% for job in job %}
       <tr class="warning"  > 
       <td>{{job.id}}</td> 
       <td>{{job.job_title}}</td>
       <td>{{job.skills}}</td>
       <td>{{job.experience}}</td>
       <td>{{job.job_location}}</td>
       <td><a href="{{absolute_url(asset(''))}}view/job/{{job.id}}">View</a></td>
       <td><a href="{{absolute_url(asset(''))}}job/form/{{job.id}}">Edit</a></td>
        <td><form name="form" action="" method="POST"><button  class="btn1 btn-primary active">Delete</button></form> </td>
       <br><br>
</tr> 
{% endfor%} 
 </table>
 {{ knp_pagination_render(job) }}
<script>
$(document).ready(function()
{
    
    $('.btn1').click(function()
    {
       var currentRow = $(this).closest("tr");
       var col1 = currentRow.find("td:eq(0)").text();
       $.ajax(
                {
                    type: "POST",
                    data:{ id:col1},
                    url: '{{ (path('app_delete_job')) }}',
                    success: function(response)
                    {
                       alert(col1);
                        alert(response.message);
                         
                    },
                    error: function(result)
                    {
                        alert("Process Failed!!!");
                    }
                });
    })
    
})
</script>
{% endblock %}

